/*header div{
    background-color: red;
    border: solid black;
    position: relative;
}
*/
#intro {
    position: relative;
    background-color: rgba(76, 187, 231, 0.562);
    border: solid black;
    height: 15vh;
   
}

#grass {
    position: absolute;
    height:90px;
    width: 100%;
    bottom: -55px;
    background-image: url(grass.png);
    background-size: 90px;
}

#sol {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: yellow;
    left: 5px;
    top: 5px;
}

#runningwoman {
    position: absolute;
    height: 70px;
    width: 50px;
    left: 50px;
    background-image: url(runningwoman.gif);
    background-size: contain;
    background-repeat: no-repeat;
    animation: run 30s infinite linear;
}

@keyframes run {
    0% {left: -2vw; bottom: 0px}
    100% {left: 230vw; bottom: 0px;}
}

h1 {
    text-align: center;
    position: relative;
    }




h2 {
    text-align: center
}

main {
    background-color: white;
    border: solid black;
    position: relative;
}

#meny {
    position: fixed;
    top:-16px;
    left: 0;
    width: 100%;
    list-style: none;
    padding: 10px;
    background-color:white;
}

#meny li {
	display:block;
    width:120px;
    height: 1em;
    padding: 2px;
	float:left;
	margin-left:2px;
    border:1px solid #000;
    background-color: white;
}

#meny li:hover {
    background-color: mistyrose;
    transition: 0.8s;
}
#meny li:hover a:visited,
#meny li:hover a,
#meny li a:hover {
    color:black;
}

#meny a {color: black}

article {
    min-height: 90vh;
   border: solid black 1px;
    margin: 1em;
}

table, th, td {
    border: solid black 2px;
    border-collapse: collapse;
    padding: 1em;
}

tr:nth-child(odd){
    background-color:white;
   }
   tr:nth-child(even){
     background-color: lavenderblush;
   }
   th{
       background-color: lavenderblush;
   }

#bicepscurl {
    height: 50vh;
    width: 50vh;
    background-image: url(bicepscurl.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#dips {
    height: 50vh;
    width: 50vh;
    background-image: url(Dips.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#roing {
    height: 50vh;
    width: 50vh;
    background-image: url(omvendtroing.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#McGill {
    height: 50vh;
    width: 50vh;
    background-image: url(McGill.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#legraises {
    height: 50vh;
    width: 50vh;
    background-image: url(legraises.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    background-color: green;
    position: relative;
    border: solid black;
    
}

ul {
    padding-bottom: 2em;
}









#bilder {
    height: 600px;
    display: flex;
    align-items:center;
    align-content: center;
}

.bilde {
    background-size: cover;
    background-position: center;
    min-height: 200px;
    background-repeat: no-repeat;
    filter: grayscale(80%);
    flex: 1;
    transition: 2s;
}

.bilde:hover {
    filter: sepia(0%);
    flex: 5;
    min-height: 600px;
    background-size: contain;
}

div.bilde:nth-child(1) {
    background-image: url("bicepscurl.jpg");
}

div.bilde:nth-child(2) {
    background-image: url("Dips.jpg");
}

div.bilde:nth-child(3) {
    background-image: url("omvendtroing.jpg");
}

div.bilde:nth-child(4) {
    background-image: url("McGill.jpg");
}

div.bilde:nth-child(5) {
    background-image: url("legraises.jpg");
}

div.bilde:nth-child(6) {
    background-image: url("bilder/b2.jpg");
}

div.bilde:nth-child(7) {
    background-image: url("bilder/b3.jpg");
}

div.bilde:nth-child(8) {
    background-image: url("bilder/b4.jpg");
}

div.bilde:nth-child(9) {
    background-image: url("bilder/b1.jpg");
}

div.bilde:nth-child(10) {
    background-image: url("bilder/b2.jpg");
}

div.bilde:nth-child(11) {
    background-image: url("bilder/b3.jpg");
}

div.bilde:nth-child(12) {
    background-image: url("bilder/b4.jpg");
}